{
  "env": {
    "commonjs": {
      "presets": [
        [
          "react-native",
          {
            "loose": true
          }
        ],
        "stage-2",
        "babel-preset-es2015"
      ]
    },
    "es": {
      "presets": [
        [
          "babel-preset-es2015",
          {
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ],
      "plugins": [
        "./tools/use-lodash-es"
      ]
    }
  }
}